{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "eslintIntegration": false,
  "htmlWhitespaceSensitivity": "ignore",
  "parser": "babylon",
  "requireConfig": false,
  "stylelintIntegration": false,
  "trailingComma": "es5",
  "tslintIntegration": false
}

